@using System.Web.Optimization
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Administration Page </title>
        @RenderBody()
       @*@Styles.Render("~/Content/css")                *@

    </head>

    @*
    <body>        
        <div id="header">
            <div class="shell">                
                <div id="top">
                    <h1><a href="#">Administration Board</a></h1>                   
                </div>
                <div id="navigation">
                    <ul>
                        <li><a href="#" class="active"><span>Settings</span></a></li>
                        <li><a href="#"><span>Items</span></a></li>
                        <li><a href="#"><span>Categories</span></a></li>
                        <li><a href="#"><span>Manufactures</span></a></li>
                        <li><a href="#"><span>Users Management</span></a></li>
                    </ul>
                </div>           
            </div>
        </div>       
    </body>
    *@
</html>