@model IEnumerable<GadgetStore.Models.CategoryModel>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Categories
            </h1>
        </div>
        @foreach (var cat in Model)
        {
            <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="portfolio-item">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                    <!--<img src="@Url.Content(@cat.PhotoUrl)" alt="" width="200" height="200">-->
                    <div class="caption">
                        <h4>@cat.Name</h4>
                        <p>@Html.ActionLink("See items.", "Details", new { id = cat.CategoryId })</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>