@model IEnumerable<GadgetStore.Models.CategoryModel>

<nav id="categories">
    <ul>
        @foreach (var cat in Model)
        {
            <li>@Html.ActionLink(cat.Name, 
                    "Index", "Categories", 
                    new { CategoryModel = cat.Name }, null)
            </li>
        }
        
        <li>@Html.ActionLink("More...", "Index", "Categories")
        </li> 
    </ul>
</nav>
