@{
    ViewBag.Title = "Home Page";
}


<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to our Gadget Store</div>
            <a href="/Items" class="btn btn-xl">Shop Now</a>
            <div class="row">
                <a href="#services" class="btn btn-circle btn-circle-white scorller page-scroll">
                    <i class="fa fa-angle-double-down animated bounce"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=323918851115935&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <h3 class="section-subheading text-muted">We are selling mobile phones, tablets and laptops.</h3>
                <img src="../Content/Images/bg_smartphones.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Enjoyable shopping experience</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Design</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Secured</h4>
            </div>
        </div>
    </div>
</section>

<!-- Reviews Section -->
<section id="review" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Reviews</h2>
                <h3 class="section-subheading text-muted">Check out our new iPhone 6 review</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <video controls width="640" height="360" preload="auto" poster="../Content/Images/poster.jpg">
                    <source src="../Content/Images/review.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</section>

<!-- Store Section -->
<section id="store">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Store</h2>
                <h3 class="section-subheading text-muted">Come to visit us and get 10% off on selected gadgets!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <iframe width="550" height="350" frameborder="0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCs1UtnGuw__t46sThoj_SgyhAB8QjEZbY&q=Rothschild+Blvd+50,+Tel+Aviv-Yafo"> </iframe>
            </div>
        </div>
    </div>
      <div class="col-lg-12 text-center" style="padding-top:10px">
    <div class="fb-like" data-href="https://www.facebook.com/ColmanGadgetStore" data-width="60" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <h3 class="section-subheading text-muted">Meet the team members who developed this WebApp.</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../Content/Images/Team/Chen.jpg" class="img-responsive img-circle" alt="">
                    <h4>Chen Levi Elenberg</h4>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../Content/Images/Team/David.jpg" class="img-responsive img-circle" alt="">
                    <h4>David Feldstein</h4>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../Content/Images/Team/Yoni.jpg" class="img-responsive img-circle" alt="">
                    <h4>Yoni Cohen</h4>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../Content/Images/Team/Liran.jpg" class="img-responsive img-circle" alt="">
                    <h4>Liran Polak</h4>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

