@model GadgetStore.Models.ManufactureModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Manufacture Name : @Model.Name</h3>
<img src="@Url.Content(@Model.PhotoUrl)" /> <br />
Description: @Model.Description<br />



