@model IEnumerable<GadgetStore.Models.ManufactureModel>
@{
    ViewBag.Title = "Manufacture";
}
<h2> Manufactures </h2>
@using (Html.BeginForm("Index", "Manufactures", FormMethod.Get))
{
    @:Search: <input type="search" name="searchText" /> 
    <input type="submit" value="Search" />
}
<nav id ="manufacture">
    <br />
    <ul>
    @foreach (var manufa in Model)
    {
    
        <li> @Html.ActionLink(manufa.Name, "Details", new { id = manufa.ManufactureId }) 
            <img src="@Url.Content(@manufa.PhotoUrl)" alt ="" width="200" height="200" />
        </li>
    }
    </ul>
</nav>