@model IEnumerable<GadgetStore.Models.ManufactureModel>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Summary
                <small>Number of items per manfacture</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
             <div class="chart-center">
                @{Html.RenderAction("ManufChart", "Manufactures");} 
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Manufactures
            </h1>
        </div>
        @foreach (var manufa in Model)
        {
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="portfolio-item">
                    <div class="manfacture-logo"><img src="@Url.Content(@manufa.PhotoUrl)"></div>
                    <div class="caption">
                        <h4>@manufa.Name</h4>
                        <i id="btn-custom" class="btn btn-default"><i class="fa fa-info-circle"></i> @Html.ActionLink("More Info", "Details", new { id = manufa.ManufactureId })</i>
                    </div>
                    <br />
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>