@model IEnumerable<GadgetStore.Models.ItemModel>
<h2> Items </h2>
<nav id ="items">
    <br />
    <ul>
    @foreach (var item in Model)
    {
    
        <li> @Html.ActionLink(item.Name, "Details", new { id = item.ItemId }) 
            <img src="@Url.Content(@item.PhotoUrl)" />
        </li>
    }
    </ul>
</nav>
