@model IEnumerable<GadgetStore.Models.ItemModel>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ItemId })
        </td>
    </tr>
}
</table>